@charset "UTF-8";

@font-face {
    font-family: 'KyoboHandwriting';
    src: url('/assets/fonts/KyoboHandwriting2019.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: 'KyoboHandwriting', sans-serif;
	width: 100%;
  	overflow-x: hidden;
}








.navbar {
  width: 100%;
  overflow: hidden;
}

.navbar > .container{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  width: 100%; 
  box-sizing: border-box; 
  overflow: hidden; 
}


.navbar-menu-group {
	display: flex;
	align-items: center;
    gap: 60px;
}

.navbar-menu {
    margin: 20;
    padding: 0;
    display: inline-block;
}


.custom-navbar {
    background-color: #FFF8B5; 
}

.navbar-brand img {
   height: 60px;
   width: auto;
}


.navbar-menu img {
   height: 60px;
   width: auto;
   display: block;
}

.login-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFC846; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
    margin-right: 0;
  	margin-left: auto;
}

.login-btn:hover {
    background-color: #FF8200;
}

.container {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
}






.topic-background{
	background-color: #FFF8B5;
}

.py-5 {
	padding-top: 8rem !important;
	padding-bottom: 8rem !important;
}

.px-4 {
	padding-right: 1.5rem !important;
	padding-left: 1.5rem !important;
}

.px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  
.my-5 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

.text-center {
	text-align: center !important;
}

.text-white {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.topic-title {
	font-size: 50px;
	font-weight: 300;
	line-height: 1.2;
}

.fw-bolder {
	font-weight: bolder !important;
}

.lead {
	font-size: 40px;
	font-weight: 300;
}

.fw-normal {
	margin-top: 40px;
	font-weight: 300 !important;
}

.topic-content {
	margin-top: 30px;
	font-size: 30px;
	font-weight: 300;
	color: blue;
}

.mb-0 {
	margin-bottom: 0 !important;
}







.public-container {
	margin-top: 40px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    width: 100%;
    padding: 0 100px;
    gap: 20px; 
}

.rectangle {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 25%;
    height: 55vh;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.rectangle:hover {
    background-color: #f0f0f0;
}

.public-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.public-content {
    font-size: 24px;
    text-align: left;
}

.public-author {
	font-size: 16px;
    text-align: right;
    color: #6D6D6D;
    margin-top: auto;
}

.public-dateweather {
	font-size: 16px;
    text-align: right;
    color: #3B4FFF;
    margin-top: 5px;
}

.like-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.like-icon {
    font-size: 24px;
    cursor: pointer;
    color: black; 
    transition: color 0.3s;
}

.like-container[data-liked="true"] .like-icon {
    color: #ff0000;
}

.like-count {
    margin-left: 10px;
    font-size: 18px;
}

.public-btn,
.my-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFC846; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
    margin-right: 0; /* 추가 */
  	margin-left: auto;
  	margin-top: 40px;
}

.public-btn:hover{
    background-color: #FF8200;
}

.my-btn:hover{
    background-color: #FF8200;
}




.my-background{
	background-color: #FFF8B5;
}

.my-section {
	padding-top: 3rem !important;
	padding-bottom: 8rem !important;
	background-color: #FFF8B5;
}




.footer-container {
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
}

.footer-section {
	padding-top: 8rem !important;
	padding-bottom: 8rem !important;
	background-color: #FFF8B5;
}


.login-container {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-right: auto;
	margin-left: auto;
}

.font-1 {
	margin-top: 30px;
	font-size: 30px;
	font-weight: 300;
}

.font-2 {
	margin-top: 70px;
	font-size: 20px;
	font-weight: 300;
	color: gray;
}

#userid,
#password,
#name,
#email {
    width: 15%;
    padding: 10px;
    border: 4px solid #FF8200; 
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
}

#userid:focus::before,
#password:focus::before,
#name:focus::before,
#email:focus::before {
    content: "";
    position: absolute;
    top: -2px; 
    left: -2px;
    right: -2px; 
    bottom: -2px; 
    border: 2px dotted yellow; 
    border-radius: 10px;
    pointer-events: none;
}

.login-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #FFC846; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border: 3px solid #FF8200;
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
    margin-right: 0; 
  	margin-left: auto;
  	margin-top: 30px;
}

.login-button:hover,
.membership-button:hover,
.idcheck-button:hover {
    background-color: #FF8200;
}

.membership:hover {
    color: #FF8200;
}

.membership-button,
.idcheck-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #FFC846; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border: 3px solid #FF8200;
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
    margin-right: 0; 
  	margin-left: auto;
  	margin-top: 20px;
}

.disabled-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #c0c0c0; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border: 3px solid #808080;
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
    margin-right: 0; 
  	margin-left: auto;
  	margin-top: 20px;
  	cursor: not-allowed;
}

.py-6 {
	padding-top: 8rem !important;
}

.py-7 {
	padding-bottom: 8rem !important;
}

.my-6 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

.font-3 {
	font-size: 25px;
	font-weight: 300;
	color: #128e09;
	text-decoration: none;
}

.my-diary-background{
	background-color: white;
}

.my-diary-section {
	padding-top: 3rem !important;
	padding-bottom: 8rem !important;
	background-color: white;
}

.my-button-section {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	background-color: white;
}

/*팝업창*/
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 50px;
}
.popup-content {
    background-color: #FFF8B5;
    margin: 5% auto;
    padding: 20px;
    border: 3px solid #FF8200;
    width: 80%;
    border-radius: 15px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.rc-topic{
	font-size: 20px;
	font-weight: 300;
	color: #1b5cc9;
	margin-top: 20px;
}

.rc-topic:hover {
	color: #0c2858;
	cursor: pointer;
}

.my-h1{
	font-size: 30px;
	font-weight: bold;
}

.my-h2{
	font-size: 20px;
	font-weight: 300;
	margin-top: 20px;
}

.my-font-1{
	font-size: 25px;
	font-weight: 300;
	margin-top: 30px;
}

.my-font-2{
	font-size: 25px;
	font-weight: 300;
	margin-top: 15px;
}

.my-font-3{
	font-size: 25px;
	font-weight: 300;
	margin-top: 15px;
	color: #0080ff;
}

.my-font-4{
	font-size: 15px;
	font-weight: 300;
	margin-top: 10px;
	color: #004080;
}
.my-font-5{
	font-size: 15px;
	font-weight: 300;
	margin-top: 5px;
	color: #ff3333;
}


/* 주제 추천 섹션 */
.hidden-section {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 3px solid #FF8200;
    border-radius: 15px;
    background-color: #FFC846;
}

.recommendation-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0080ff; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border: 3px solid #004080;
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
    margin-right: 0; 
  	margin-left: auto;
  	margin-top: 20px;
}

.recommendation-btn:hover,
.rccomplete-btn:hover {
    background-color: #004080;
}

.rc-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 50px;
}
.rc-popup-content {
    background-color: #bff8bc;
    margin: 5% auto;
    padding: 20px;
    border: 3px solid #308217;
    width: 60%;
    border-radius: 15px;
}

.topicContent{
	width: 80%;
	height: 80px;
    padding: 10px;
    border: 3px solid #308217;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    position: relative;
    margin-top: 40px;
}

.rccomplete-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0080ff; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border: 3px solid #004080;
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
    margin-right: 0; 
  	margin-left: auto;
  	margin-top: 30px;
  	margin-bottom: 20px;
}

/* 일기 쓰기 섹션 */
.diaryTitle{
	width: 80%;
	height: 40px;
    padding: 10px;
    border: 3px solid #FF8200;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
}

.diaryContent{
	width: 80%;
	height: 500px;
    padding: 10px;
    border: 3px solid #FF8200;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
    resize: none;
}

.radio-group{
	width: 80%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    align-items: center;
}

.radio-container {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
}
.radio-container p {
    display: inline;
    margin: 0;
    font-size: 20px;
}

.writing-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #FFC846; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border: 3px solid #FF8200;
    border-radius: 10px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
    margin-right: 0; 
  	margin-left: auto;
  	margin-top: 10px;
  	margin-bottom: 30px;
}

.writing-btn:hover {
    background-color: #FF8200;
}