@charset "UTF-8";

@font-face {
    font-family: 'KyoboHandwriting';
    src: url('/assets/fonts/KyoboHandwriting2019.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: 'KyoboHandwriting', sans-serif;
}


/* 네비게이션*/
.navbar > .container{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin: 0 25px;
}


.navbar-menu-group {
	display: flex;
	align-items: center;
    gap: 60px;
}

.navbar-menu {
    margin: 20;
    padding: 0;
    display: inline-block;
}


.custom-navbar {
    background-color: white; 
}

.navbar-brand img {
   height: 60px;
   width: auto;
}


.navbar-menu img {
   height: 60px;
   width: auto;
   display: block;
}

.login-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFC846; 
    color: white; 
    text-align: center;
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #FF8200;
}

/* 주제 추천 */
h1.title{
	margin-left: 80px;
    margin-top: 40px; 
}
h2.subtitle{
	margin-left: 300px;
    margin-top: 40px;
}